#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	$(CC) $(CPPFLAGS) $(CFLAGS) -std=c11 -Wall -Wextra -Werror \
		-o mouse-meta-toggle mouse-meta-toggle.c $(LDFLAGS)
	./mouse-meta-toggle --self-test

override_dh_auto_clean:
	$(RM) mouse-meta-toggle
